<ion-header>
  <ion-navbar>
    <ion-title>Search</ion-title>
    <ion-buttons end>
        <div *ngIf="loggedin == false; else loginTrue">
            <button ion-button class="login-indicator-false">
            <ion-icon name="sunny" end></ion-icon>
            </button>
        </div>
        <ng-template #loginTrue>
            <div *ngIf="isFacebookLogin == true">
                <button ion-button class="login-indicator-true">
                <ion-icon name="logo-facebook"></ion-icon>
                </button>
            </div>
            <div *ngIf="isGoogleLogin == true">
                <button ion-button class="login-indicator-true">
                <ion-icon name="logo-googleplus"></ion-icon>
                </button>
            </div>
        </ng-template>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar [(ngModel)]="keyword" (ionInput)="getItems($event)" [debounce]="500" placeholder="Enter Keyword here ..."></ion-searchbar>
    <ion-card *ngFor="let comic of comicList">
        <ion-card-content>
            <ion-grid (tap)="showDetailComic(comic.comic_title)">
                <ion-row>
                    <ion-col col-4>
                        <img src="http://bukufi.com/storage/comic/comic_cover/{{comic.comic_image}}">
                    </ion-col>
                    <ion-col col-8>
                        <p id="title">{{comic.comic_title_nodash}}</p>
                        <p id="author">{{comic.comic_author_nodash}}</p>
                        <p id="release">{{comic.comic_release}}</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>  
    </ion-card>

  <!--FAB BOTTOM RIGHT-->
  <ion-fab right bottom #fab2>
    <button ion-fab mini color="primary"><ion-icon name="apps"></ion-icon></button>
    <ion-fab-list side="top">
      <div *ngIf="loggedin == true; else loginfirst">
        <button ion-fab (click)="userInformation()">
          <ion-icon name="information-circle"></ion-icon>
        </button>
      </div>
      <ng-template #loginfirst>
        <button ion-fab (click)="loginFirst()">
          <ion-icon name="log-in"></ion-icon>
        </button>
      </ng-template>
    </ion-fab-list>
  </ion-fab>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
    pullingText="Pull to refresh"
    pullingIcon="arrow-dropdown"
    refreshingSpinner="circles"
    refreshingText="fetching data ..."></ion-refresher-content>
  </ion-refresher>
</ion-content>
