page-home {
    //button fab
    .fab, .fab-ios, .fab-ios-primary{
        background-color: #0fbab6;
    }

    .whiteBlue{
        color: white;
    }

    // .fab-in-list.show{
    //     background-color: white;
    //     color: #0fbab6;
    // }

    ion-title, .card-header{
        font-weight: bold;
    }
    
    .card-header{
        background-color: cadetblue;
        color: white;
        text-align: center;
    }

    .card-content{
        padding: 0;
        border-radius: 0;
    }

    .card-header{
        padding: 10px;
    }

    .swiper-slide img{
        width: 100%;
        height: 225px;
        -webkit-box-shadow: 0px 3px 5px 0px #8a838a;
        box-shadow: 0px 3px 5px 0px #8a838a;
        margin-left: 3px;
    }

    .card ,.card-md{
        margin: 0;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }

    .margin-10px{
        margin-top: 10px;
    }

    .padding-10{
        padding: 10px;
    }

    .segment-activated{
        background-color: gainsboro !important;
        color: darkorange !important;
    }

    .segment-ios, .segment-button, .segment-activated{
        border-radius: 0 !important;   
    }

    .toolbar-title-md{
        color: #0fbab6 !important;
        font-size: 35px;
        font-family: 'Libre Baskerville', serif;
        text-align: center;
    }

    .toolbar-title-ios{
        color: #0fbab6 !important;
        font-size: 30px;
        font-family: 'Libre Baskerville', serif;
        font-weight: normal;
    }

    .menu{
        color: #0fbab6 !important;
    }

    .text-center{
        text-align: center;
    }

    .text-color{
        color: #007f79;
    }

    .font-18{
        font-size: 20px;
        margin-bottom: 0;
        font-weight: normal;
    }

    //===- NEW -===//
        .cnrflash-new{
            position: absolute;
            top: 0;
            right: -4px;
            z-index: 1;
            overflow: hidden;
            width: 80px;
            height: 80px;
        }

        .cnrflash-inner-new{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 113px;
            height: 57px;
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -webkit-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            -o-transform-origin: 100% 100%;
            -moz-transform-origin: 100% 100%;
            background-image: linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1, 1, 1, 0.2) 50%);
            background-size: 4px, auto, auto, auto;
            background-color: lightseagreen;
            opacity: 0.7;
            //box-shadow: 0 3px 3px 0 rgba(1, 1, 1, 0.5), 0 1px 0 0 rgba(1, 1, 1, 0.5), inset 0 -1px 8px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 0 rgba(255, 255, 255,0);
        }

        .cnrflash-label-new{
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            padding-bottom: 15px;
            color: #fff;
            text-shadow: 0 1px 1px rgba(1, 1, 1, 0.8);
            font-size: 0.7em;
            font-weight: bold;
            text-align: center;
        }
    //===- END NEW -===//

    //===- POPULAR -===//
        .cnrflash-popular{
            position: absolute;
            top: 0;
            right: -4px;
            z-index: 1;
            overflow: hidden;
            width: 80px;
            height: 80px;
        }

        .cnrflash-inner-popular{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 113px;
            height: 57px;
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -webkit-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            -o-transform-origin: 100% 100%;
            -moz-transform-origin: 100% 100%;
            background-image: linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1, 1, 1, 0.2) 50%);
            background-size: 4px, auto, auto, auto;
            background-color: darkorange;
            opacity: 0.7
            //box-shadow: 0 3px 3px 0 rgba(1, 1, 1, 0.5), 0 1px 0 0 rgba(1, 1, 1, 0.5), inset 0 -1px 8px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 0 rgba(255, 255, 255,0);
        }

        .cnrflash-label-popular{
            position: absolute;
            bottom: -7px;
            font-size: 12px;
            left: 0;
            display: block;
            width: 100%;
            padding-bottom: 15px;
            color: #fff;
            text-shadow: 0 1px 1px rgba(1, 1, 1, 0.8);
            font-size: 0.7em;
            font-weight: bold;
            text-align: center;
        }
    //===- END POPULAR -===//

    //===- RECOMENDED -===//
        .cnrflash-recomended{
            position: absolute;
            top: 0;
            right: -4px;
            z-index: 1;
            overflow: hidden;
            width: 80px;
            height: 80px;
        }

        .cnrflash-inner-recomended{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 113px;
            height: 57px;
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -webkit-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            -o-transform-origin: 100% 100%;
            -moz-transform-origin: 100% 100%;
            background-image: linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1, 1, 1, 0.2) 50%);
            background-size: 4px, auto, auto, auto;
            background-color: violet;
            opacity: 0.7
            //box-shadow: 0 3px 3px 0 rgba(1, 1, 1, 0.5), 0 1px 0 0 rgba(1, 1, 1, 0.5), inset 0 -1px 8px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 0 rgba(255, 255, 255,0);
        }

        .cnrflash-label-recomended{
            position: absolute;
            bottom: 5px;
            left: 0;
            display: block;
            width: 100%;
            //padding-bottom: 15px;
            color: #fff;
            text-shadow: 0 1px 1px rgba(1, 1, 1, 0.8);
            font-size: 0.6em;
            font-weight: bold;
            text-align: center;
        }
    //===- END RECOMENDED -===//

    //===- EDITOR PICK -===//
        .cnrflash-editor-pick{
            position: absolute;
            top: 0;
            right: -4px;
            z-index: 1;
            overflow: hidden;
            width: 80px;
            height: 80px;
        }

        .cnrflash-inner-editor-pick{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 113px;
            height: 57px;
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -webkit-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            -o-transform-origin: 100% 100%;
            -moz-transform-origin: 100% 100%;
            background-image: linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1, 1, 1, 0.2) 50%);
            background-size: 4px, auto, auto, auto;
            background-color: gold;
            opacity: 0.7
            //box-shadow: 0 3px 3px 0 rgba(1, 1, 1, 0.5), 0 1px 0 0 rgba(1, 1, 1, 0.5), inset 0 -1px 8px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 0 rgba(255, 255, 255,0);
        }

        .cnrflash-label-editor-pick{
            position: absolute;
            bottom: 5px;
            left: 3px;
            display: block;
            width: 100%;
            //padding-bottom: 15px;
            color: #fff;
            text-shadow: 0 1px 1px rgba(1, 1, 1, 0.8);
            font-size: 0.7em;
            font-weight: bold;
            text-align: center;
        }
    //===- END EDITOR PICK -===//

    .login-indicator-false{
        color: red;
    }

    .login-indicator-true{
        color: green;
    }

    h1, h2, h3, h4, h5, h6, p{
        margin-top: 0;
    }

    .ls-3{
        letter-spacing: 3px;
        text-align: center;
        color: #007f79;
    }

    .fab-list-active{
        .fab, .fab-md, .fab-in-list, .fab-md-in-list, .show{
            background-color: white;
        }

        .icon, .icon-md{
            color: #007f79;
        }
    }
    
    // .swiper-slide{
    //     width: 45% !important;
        
    //     margin-right: 10px;
    // }

    // .swiper-container{
    //     height: auto;
    //     overflow: unset;
    // }

    // .scroll-content{
    //     overflow-y: hidden;
    // }
}

