<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu" class="menu"></ion-icon>
        </button>
        <ion-title>Bukufi</ion-title>
        <ion-buttons end>
            <div *ngIf="loggedin == false; else loginTrue">
                <button ion-button class="login-indicator-false">
                <ion-icon name="sunny" end></ion-icon>
                </button>
            </div>
            <ng-template #loginTrue>
                <div *ngIf="isFacebookLogin == true">
                    <button ion-button class="login-indicator-true">
                    <ion-icon name="logo-facebook"></ion-icon>
                    </button>
                </div>
                <div *ngIf="isGoogleLogin == true">
                    <button ion-button class="login-indicator-true">
                    <ion-icon name="logo-googleplus"></ion-icon>
                    </button>
                </div>
            </ng-template>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <p class="text-center text-color font-18">POPULAR BOOKS</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-slides [slidesPerView]="2" [spaceBetween]="10">
                    <ion-slide *ngFor="let book of popularBooks" (tap)="showDetailBook(book.book_title)">
                        <div *ngIf="book.book_sticker == 'New'">
                            <div class="cnrflash-new">
                            <div class="cnrflash-inner-new">
                                <span class="cnrflash-label-new">
                                    NEW
                                </span>
                            </div>
                            </div>
                        </div>
                
                        <div *ngIf="book.book_sticker == 'Popular'">
                            <div class="cnrflash-popular">
                            <div class="cnrflash-inner-popular">
                                <span class="cnrflash-label-popular">
                                    POPULAR
                                </span>
                            </div>
                            </div>
                        </div>
                
                        <div *ngIf="book.book_sticker == 'Recomended'">
                            <div class="cnrflash-recomended">
                            <div class="cnrflash-inner-recomended">
                                <span class="cnrflash-label-recomended">
                                    RECOMENDED
                                </span>
                            </div>
                            </div>
                        </div>
                
                        <div *ngIf="book.book_sticker == 'Editor Pick'">
                            <div class="cnrflash-editor-pick">
                            <div class="cnrflash-inner-editor-pick">
                                <span class="cnrflash-label-editor-pick">
                                    EDITOR <br> PICK
                                </span>
                            </div>
                            </div>
                        </div>
                        <img src="http://bukufi.com/storage/book/book_cover/{{book.book_image}}" alt="{{book.book_title}}">
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="margin-10px">
        <ion-row>
            <ion-col col-12>
                <p class="text-center text-color font-18">POPULAR COMICS</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-slides [slidesPerView]="2" [spaceBetween]="10">
                    <ion-slide *ngFor="let comic of popularComics" (tap)="showDetailComic(comic.comic_title)">
                            <img src="http://bukufi.com/storage/comic/comic_cover/{{comic.comic_image}}" alt="{{comic.comic_title}}">
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-grid>
  
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content 
        pullingText="Pull to refresh"
        pullingIcon="arrow-dropdown"
        refreshingSpinner="circles"
        refreshingText="fetching data ...">
        </ion-refresher-content>
    </ion-refresher>

    <!--FAB BOTTOM RIGHT-->
    <ion-fab right bottom #fab2>
        <button ion-fab mini color="primary"><ion-icon name="apps"></ion-icon></button>
        <ion-fab-list side="top">
            <div *ngIf="loggedin; else loginfirst">
            <button ion-fab (click)="userInformation()">
                <ion-icon name="information-circle" class="whiteBlue"></ion-icon>
            </button>
            </div>
            <ng-template #loginfirst>
                <button ion-fab (click)="loginFirst()">
                    <ion-icon name="log-in" class="whiteBlue"></ion-icon>
                </button>
            </ng-template>
            <button ion-fab (click)="search()">
                <ion-icon name="search" class="whiteBlue"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
  
</ion-content>
