page-comic-bookmark {
	.login-indicator-false{
        color: red;
    }

    .login-indicator-true{
        color: green;
    }

    .item, .item-block, .item-md{
        padding-left: 0;
    }

    .takAda{
        background-color: lightsalmon;
    }
}
