page-settings {

  ion-row,
  ion-col {
    padding: 0;
  }

  // Text Size

  .text-button {
    padding-left: 0;
    text-align: center;
    min-height: 20px;
    line-height: 18px;
  }

  .text-button .item-inner {
    padding-right: 0;
  }

  .text-smaller {
    font-size: 12px;

    &:hover{
        background-color:  #0fbab6;
        color: white;
    }
  }

  .text-larger {
    font-size: 16px;

    &:hover{
        background-color:  #0fbab6;
        color: white;
    }
  }

  // Color

  .row-dots {
    text-align: center;

    .dot {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin: 10px auto;
        position: relative;
        border-width: 2px;
        border-color: #999;
        border-style: solid;
    }
  }

  .dot-white {
    background-color: rgb(255,255,255);
    border-color: #0fbab6 !important;
  }

  .dot-tan {
    background-color: rgb(249,241,228);
  }

  .dot-grey {
    background-color: rgb(76,75,80);
  }

  .dot-black {
    background-color: rgb(0,0,0);
  }

  .dot.selected {
    border-width: 2px;
    border-color: #327eff;
    border-style: solid;
  }

  // Font-Family

  .text-athelas {
    font-family: "Athelas";
  }

  .text-charter {
    font-family: "Charter";
  }

  .text-iowan {
    font-family: "Iowan";
  }

  .text-palatino {
    font-family: "Palatino";
  }

  .text-san-francisco {
    font-family: "San Francisco";
  }

  .text-seravek {
    font-family: "Seravek";
  }

  .text-times-new-roman {
    font-family: "Times New Roman";
  }

  ion-item.item-radio-checked{
      background-color: #0fbab6 !important;

      .label, .label-md{
          color: white;
      }

      .radio-icon, .radio-checked{
          border-color: white;

          .radio-inner{
              background-color: white;
          }
      }
  }

}
