page-book-detail {
    ion-card-content{
		padding: 10px !important;
	}

	.grid{
		padding: 0 !important;
    }
    
    .text-bold{
        font-weight: 400;
        padding: 0;
    }

    .card, .card-md{
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    .no-padd-top-btm{
        padding-top: 0;
        padding-bottom: 0;
    }

    .no-padding-btm{
        padding-bottom: 0;
    }

    .no-padding-left-right{
        padding-left: 0;
        padding-right: 0;
    }

    .padding-3px{
        padding: 3px;
    }

    .margin-5px{
        margin-top: 5px;
    }

    hr.show {
        border: 1px solid darkgrey;
        width: 100%;
        height: 0;
    }

    hr.show2 {
    border: 1px solid darkgrey;
    width: 100%;
    height: 0;
    margin-bottom: 0;
    }

    .header{
        padding: 5px;
    }

    ion-card-content.no-padding-top{
        padding-top: 0 !important;
    }

    blockquote{
        margin: 0.5em 0;
        border-right-color: seagreen;
        border-right-style: double;
        padding: 5px;
        background-color: gainsboro;
        border-radius: 2px;
    }

    .toolbar-background, .toolbar-background-ios{
        border-style: hidden !important;
    }

    .fav-bookmark{
       padding: 0;
    }

    .btn-2{
        margin-top: 0;
    }

    .read-btn{
        position: relative;
        top: 63px;
    }

    .desc{
        margin-top: 0;
        margin-bottom: 0;
    }

    .mt-25{
        margin-top: 2.5px;
    }

    .card, .card-md{
        box-shadow: none;
    }

    .user-review-hdr{
        text-align: center;
        font-weight: 700;
        background-color: darkseagreen;
        color: white;
    }

    .item, .item-block, .item-md{
        padding-left: 0;
    }

    .label, .label-md{
        margin-top: 5px;
        margin-bottom: 0;
        margin-right: 0;
        background-color: gainsboro;
        // border-top-right-radius: 15px;
        // border-bottom-left-radius: 15px;
        padding: 10px;
    }

    .item-inner{
        padding-left: 8px;
    }

    .no-review{

        .label, .label-md {
            border-radius: 0;
            padding: 10px;
        } 
        
        .text-center{
            font-weight: 700;
        }
    }

    //new css
    .biruMuda, .back-button {
        color: #0fbab6;
        font-family: 'Libre Baskerville', serif;
    }

    .biruTua{
        color: #007f79;
    }

    .starColor{
        color: #0fbab6;
    }

    .buttonColor{
        color: #0fbab6;
        border-color: #0fbab6;
    }

    .readBook{
        background-color: #0fbab6;
        border-radius: 3px;
    }

    ion-icon.starColor{
        font-size: 1.4em;
    }

    ion-icon.starReview{
        font-size: 1.5em;
        text-align: right;
        color: #0fbab6;
    }

    .w-100{
        width: 100%;
    }

    .mt-0{
        margin-top: 0;
    }

    .mb-0{
        margin-bottom: 0;
    }

    .pt-0{
        padding-top: 0;
    }

    .mt-15{
        margin-top: 15px;
    }

    .pl-10{
        padding-left: 10px;
    }

    .pr-10{
        padding-right: 10px;
    }

    .pt-10{
        padding-top: 10px;
    }

    .pt-7{
        padding-top: 7px;
    }

    .pb-10{
        padding-bottom: 10px;
    }

    .p10{
        padding: 10px;
    }

    .pl-0{
        padding-left: 0;
    }

    .text-bold{
        font-weight: bold;
        // text-align: justify;
    }

    .text-black{
        color: black;
    }

    .justify{
        text-align: justify;
    }

    .scroll-content{
        overflow-y: auto;
    }

    .login-indicator-false{
        color: red;
    }

    .login-indicator-true{
        color: green;
    }

    .bookCover{
        width: 100%;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(138,131,138,1);
        -moz-box-shadow: 0px 3px 5px 0px rgba(138,131,138,1);
        box-shadow: 0px 3px 5px 0px rgba(138,131,138,1);
    }

    .btn{
        padding: 0;
    }

    #hr1{
        border: 1px solid slategray;
        width: 100%;
        height: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    #hr2{
        border: 1px solid #0fbab6;
        width: 100%;
        height: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    #colon{
        max-width: 4.333%;
    }

    .text-center{
        text-align: center;
        letter-spacing: 3px;
        padding: 5px;
    }

    .text-right{
        text-align: right;
    }

    .btn-action{
        .button-ios{
            height: 2.3em;
        }
    }

    //===- NEW -===//
        .cnrflash-new{
            position: absolute;
            top: 10px;
            right: 5px;
            z-index: 1;
            overflow: hidden;
            width: 70px;
            height: 70px;
        }

        .cnrflash-inner-new{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 99px;
            height: 50px;
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -webkit-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            -o-transform-origin: 100% 100%;
            -moz-transform-origin: 100% 100%;
            background-image: linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1, 1, 1, 0.2) 50%);
            background-size: 4px, auto, auto, auto;
            background-color: lightseagreen;
            box-shadow: 0 3px 3px 0 rgba(1, 1, 1, 0.5), 0 1px 0 0 rgba(1, 1, 1, 0.5), inset 0 -1px 8px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 0 rgba(255, 255, 255,0);
        }

        .cnrflash-label-new{
            position: absolute;
            bottom: 0;
            top: 22px;
            left: 0;
            display: block;
            width: 100%;
            padding-bottom: 15px;
            color: #fff;
            text-shadow: 0 1px 1px rgba(1, 1, 1, 0.8);
            font-size: 0.95em;
            font-weight: bold;
            text-align: center;
        }
    //===- END NEW -===//

    //===- POPULAR -===//
        .cnrflash-popular{
            position: absolute;
            top: 10px;
            right: 5px;
            z-index: 1;
            overflow: hidden;
            width: 70px;
            height: 70px;
        }

        .cnrflash-inner-popular{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 99px;
            height: 50px;
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -webkit-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            -o-transform-origin: 100% 100%;
            -moz-transform-origin: 100% 100%;
            background-image: linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1, 1, 1, 0.2) 50%);
            background-size: 4px, auto, auto, auto;
            background-color: darkorange;
            box-shadow: 0 3px 3px 0 rgba(1, 1, 1, 0.5), 0 1px 0 0 rgba(1, 1, 1, 0.5), inset 0 -1px 8px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 0 rgba(255, 255, 255,0);
        }

        .cnrflash-label-popular{
            position: absolute;
            bottom: -7px;
            font-size: 12px;
            left: 0;
            display: block;
            width: 100%;
            padding-bottom: 15px;
            color: #fff;
            text-shadow: 0 1px 1px rgba(1, 1, 1, 0.8);
            font-size: 0.95em;
            font-weight: bold;
            text-align: center;
        }
    //===- END POPULAR -===//

    //===- RECOMENDED -===//
        .cnrflash-recomended{
            position: absolute;
            top: 10px;
            right: 5px;
            z-index: 1;
            overflow: hidden;
            width: 83px;
            height: 83px;
        }

        .cnrflash-inner-recomended{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 118px;
            height: 60px;
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -webkit-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            -o-transform-origin: 100% 100%;
            -moz-transform-origin: 100% 100%;
            background-image: linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1, 1, 1, 0.2) 50%);
            background-size: 4px, auto, auto, auto;
            background-color: violet;
            box-shadow: 0 3px 3px 0 rgba(1, 1, 1, 0.5), 0 1px 0 0 rgba(1, 1, 1, 0.5), inset 0 -1px 8px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 0 rgba(255, 255, 255,0);
        }

        .cnrflash-label-recomended{
            position: absolute;
            bottom: 3px;
            font-size: 12px;
            left: 1px;
            display: block;
            width: 100%;
            //padding-bottom: 15px;
            color: #fff;
            text-shadow: 0 1px 1px rgba(1, 1, 1, 0.8);
            font-size: 0.95em;
            font-weight: bold;
            text-align: center;
        }
    //===- END RECOMENDED -===//

    //===- EDITOR PICK -===//
        .cnrflash-editor-pick{
            position: absolute;
            top: 10px;
            right: 5px;
            z-index: 1;
            overflow: hidden;
            width: 83px;
            height: 83px;
        }

        .cnrflash-inner-editor-pick{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 118px;
            height: 60px;
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -webkit-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            -o-transform-origin: 100% 100%;
            -moz-transform-origin: 100% 100%;
            background-image: linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1, 1, 1, 0.2) 50%);
            background-size: 4px, auto, auto, auto;
            background-color: gold;
            box-shadow: 0 3px 3px 0 rgba(1, 1, 1, 0.5), 0 1px 0 0 rgba(1, 1, 1, 0.5), inset 0 -1px 8px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 0 rgba(255, 255, 255,0);
        }

        .cnrflash-label-editor-pick{
            position: absolute;
            bottom: 3px;
            font-size: 12px;
            left: 1px;
            display: block;
            width: 100%;
            //padding-bottom: 15px;
            color: #fff;
            text-shadow: 0 1px 1px rgba(1, 1, 1, 0.8);
            font-size: 0.95em;
            font-weight: bold;
            text-align: center;
        }
    //===- END EDITOR PICK -===//
}
