<ion-header>
    <ion-navbar>
        <ion-title *ngFor="let book of book_detail">
            <p class="biruMuda mb-0 mt-0">{{book.book_title_nodash}}</p>
        </ion-title>
        <ion-buttons end>
            <div *ngIf="loggedin == false; else loginTrue">
                <button ion-button class="login-indicator-false">
                <ion-icon name="sunny" end></ion-icon>
                </button>
            </div>
            <ng-template #loginTrue>
                <div *ngIf="isFacebookLogin == true">
                    <button ion-button class="login-indicator-true">
                    <ion-icon name="logo-facebook"></ion-icon>
                    </button>
                </div>
                <div *ngIf="isGoogleLogin == true">
                    <button ion-button class="login-indicator-true">
                    <ion-icon name="logo-googleplus"></ion-icon>
                    </button>
                </div>
            </ng-template>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let book of book_detail">
    <ion-grid>
      <ion-row>
        <!-- left side -->
        <ion-col col-6 class="pl-10 pt-10">
            <div *ngIf="book.book_stikcer == 'New'">
              <div class="cnrflash-new">
                <div class="cnrflash-inner-new">
                    <span class="cnrflash-label-new">
                      NEW
                    </span>
                </div>
              </div>
            </div>
  
            <div *ngIf="book.book_stikcer == 'Popular'">
              <div class="cnrflash-popular">
                <div class="cnrflash-inner-popular">
                    <span class="cnrflash-label-popular">
                      POPULAR
                    </span>
                </div>
              </div>
            </div>
  
            <div *ngIf="book.book_stikcer == 'Recomended'">
              <div class="cnrflash-recomended">
                <div class="cnrflash-inner-recomended">
                    <span class="cnrflash-label-recomended">
                      RECOMENDED
                    </span>
                </div>
              </div>
            </div>
  
            <div *ngIf="book.book_stikcer == 'Editor Pick'">
              <div class="cnrflash-editor-pick">
                <div class="cnrflash-inner-editor-pick">
                    <span class="cnrflash-label-editor-pick">
                      EDITOR <br> PICK
                    </span>
                </div>
              </div>
            </div>

            <img src="http://bukufi.com/storage/book/book_cover/{{book.book_image}}" class="bookCover"/>
        </ion-col>

        <!-- right side -->
        <ion-col col-6 class="pr-10 pt-10">
            <p class="text-bold biruTua">{{book.book_title_nodash}}</p>
            <p class="biruTua justify">{{book.book_author_nodash}}</p>
            <p class="biruTua">1xx Pages</p>

            <ion-row>
                <ion-col col-8 class="pl-0">
                    <!-- no star  -->
                    <div id="rating" *ngIf="bookRating == 0 || bookRating == 0.0">
                        <ion-icon name="star-outline" class="starReview"></ion-icon>
                    </div>

                    <!-- star 1 -->
                    <div id="rating" *ngIf="bookRating == 1 || bookRating == 1.0 || bookRating == 1.1 || bookRating == 1.2 || bookRating == 1.3 || bookRating == 1.4">
                        <ion-icon name="star" class="starColor"></ion-icon>
                    </div>
    
                    <div id="rating" *ngIf="bookRating == 1.5 || bookRating == 1.6 || bookRating == 1.7 || bookRating == 1.8 || bookRating == 1.9">
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star-half" class="starColor"></ion-icon>
                    </div>

                    <!-- star 2 -->
                    <div id="rating" *ngIf="bookRating == 2 || bookRating == 2.0 || bookRating == 2.1 || bookRating == 2.2 || bookRating == 2.3 || bookRating == 2.4">
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                    </div>
    
                    <div id="rating" *ngIf="bookRating == 2.5 || bookRating == 2.6 || bookRating == 2.7 || bookRating == 2.8 || bookRating == 2.9">
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star-half" class="starColor"></ion-icon>
                    </div>

                    <!-- star 3 -->
                    <div id="rating" *ngIf="bookRating == 3 || bookRating == 3.0 || bookRating == 3.1 || bookRating == 3.2 || bookRating == 3.3 || bookRating == 3.4">
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                    </div>
    
                    <div id="rating" *ngIf="bookRating == 3.5 || bookRating == 3.6 || bookRating == 3.7 || bookRating == 3.8 || bookRating == 3.9">
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star-half" class="starColor"></ion-icon>
                    </div>

                    <!-- 4 star -->
                    <div id="rating" *ngIf="bookRating == 4.0 || bookRating == 4.1 || bookRating == 4.2 || bookRating == 4.3 || bookRating == 4.4">
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                    </div>
                    <div id="rating" *ngIf="bookRating == 4.5 || bookRating == 4.6 || bookRating == 4.7 || bookRating == 4.8 || bookRating == 4.9">
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star-half" class="starColor"></ion-icon>
                    </div>

                    <!-- 5 star -->
                    <div id="rating" *ngIf="bookRating == 5 || bookRating == 5.0">
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                    </div>
                </ion-col>
                <ion-col col-4 class="pl-0">
                    <div *ngIf="bookRating_totalView">
                        <p class="biruTua">({{bookRating_totalView}})</p>
                    </div>
                    <div *ngIf="!bookRating_totalView">
                        <p class="biruTua mb-0">(0)</p>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row class="btn-action w-100">
                <div *ngIf="loggedin" class="w-100">
                    <button *ngIf="bookmarkConfirm == 1" ion-button round outline block icon-left class="buttonColor mt-15" disabled>
                        <ion-icon name="ios-bookmark-outline"></ion-icon>
                        BOOKMARK dis
                    </button>

                    <button *ngIf="bookmarkConfirm == 0" ion-button round outline block icon-left class="buttonColor mt-15" (click)="addBookmarkBook()">
                        <ion-icon name="ios-bookmark-outline"></ion-icon>
                        BOOKMARK nondis
                    </button>
                </div>
    
                <div *ngIf="!loggedin" class="w-100">
                    <button ion-button round outline block icon-left class="buttonColor mt-15" disabled>
                        <ion-icon name="ios-bookmark-outline"></ion-icon>
                        BOOKMARK
                    </button>
                </div>
    
                <div *ngIf="loggedin" class="w-100">
                    <button ion-button round outline block icon-left class="buttonColor mt-0" (click)="addFavouriteBook()">
                        <ion-icon name="ios-heart-outline"></ion-icon>
                        FAVOURITE
                    </button>
                </div>
    
                <div *ngIf="!loggedin" class="w-100">
                    <button ion-button round outline block icon-left class="buttonColor mt-0" disabled>
                        <ion-icon name="ios-heart-outline"></ion-icon>
                        FAVOURITE
                    </button>
                </div>
            </ion-row>
        </ion-col>

        <!-- button -->
        <ion-col col-12 class="pl-10 pr-10">
            <!-- <button ion-button block class="readBook">READ BOOK</button> -->
            <div *ngIf="loggedin; else nologin">
                <!-- for login user -->
                <div *ngIf="isFacebookLogin == true; else googlelogin">
                    <button ion-button block class="readBook" (tap)="show(book.book_file)">
                        READ BOOK
                    </button>
                </div>

                <ng-template #googlelogin>
                    <button ion-button block (tap)="show(book.book_file)" class="readBook">
                        READ BOOK
                    </button>
                </ng-template>
            </div>

            <ng-template #nologin>
                <button ion-button block icon-left (tap)="show(book.book_file)" class="readBook" disabled>
                        READ BOOK
                </button>
            </ng-template>
        </ion-col>

        <hr id="hr1">

        <!-- description area -->
        <ion-col col-12 class="pl-10 pr-10">
            <ion-row>
                <ion-col class="pt-0">
                    <p class="text-bold text-center starColor">DETAILS</p>
                </ion-col>
            </ion-row>
            <ion-row class="desc">
                <ion-col col-4 class="no-padding-left-right">
                    <p class="text-bold text-black">Author</p>
                </ion-col>
                <ion-col col-1 id="colon">:</ion-col>
                <ion-col col-7 class="no-padding-left-right no-padding-btm">
                <p class="text-bold text-black">{{book.book_author_nodash}}</p>
                </ion-col>
                <hr>
            </ion-row>
            <ion-row class="desc">
                <ion-col col-4 class="no-padding-left-right">
                    <p class="text-bold text-black">
                        Publisher
                    </p>
                </ion-col>
                <ion-col col-1 id="colon">:</ion-col>
                <ion-col col-7 class="no-padding-left-right no-padding-btm">
                <p class="text-bold text-black">{{book.book_publisher_nodash}}</p>
                </ion-col>
                <hr>
            </ion-row>
            <ion-row class="desc">
                <ion-col col-4 class="no-padding-left-right">
                    <p class="text-bold text-black">
                        Release
                    </p>
                </ion-col>
                <ion-col col-1 id="colon">:</ion-col>
                <ion-col col-7 class="no-padding-left-right no-padding-btm">
                <p class="text-bold text-black">{{book.book_release}}</p>
                </ion-col>
            </ion-row>
        </ion-col>
        <hr id="hr1">
        <!-- reviews -->
        <ion-col col-12>
                <p class="text-bold text-center starColor">REVIEWS</p>
        </ion-col>

        <hr id="hr2">
        
        <div *ngIf="checkAvailableReview == 1" class="w-100">
            <ion-row class="w-100" *ngFor="let review of bookReveiew">
                <ion-col col-7>
                    <p class="text-bold">{{review.user_name}}</p>
                </ion-col>

                <ion-col col-5 class="text-right">
                    <!-- no star  -->
                    <div id="rating" *ngIf="review.user_book_rating == 0 || review.user_book_rating == 0.0">
                        <ion-icon name="star-outline" class="starReview"></ion-icon>
                    </div> 
    
                    <!-- star 1 -->
                    <div id="rating" *ngIf="review.user_book_rating == 1 || review.user_book_rating == 1.0 || review.user_book_rating == 1.1 || review.user_book_rating == 1.2 || review.user_book_rating == 1.3 || review.user_book_rating == 1.4">
                        <ion-icon name="star" class="starColor"></ion-icon>
                    </div>
    
                    <div id="rating" *ngIf="review.user_book_rating == 1.5 || review.user_book_rating == 1.6 || review.user_book_rating == 1.7 || review.user_book_rating == 1.8 || review.user_book_rating == 1.9">
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star-half" class="starColor"></ion-icon>
                    </div>
    
                    <!-- star 2 -->
                    <div id="rating" *ngIf="review.user_book_rating == 2 || review.user_book_rating == 2.0 || review.user_book_rating == 2.1 || review.user_book_rating == 2.2 || review.user_book_rating == 2.3 || review.user_book_rating == 2.4">
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                    </div>
    
                    <div id="rating" *ngIf="review.user_book_rating == 2.5 || review.user_book_rating == 2.6 || review.user_book_rating == 2.7 || review.user_book_rating == 2.8 || review.user_book_rating == 2.9">
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star-half" class="starColor"></ion-icon>
                    </div>
    
                    <!-- star 3 -->
                    <div id="rating" *ngIf="review.user_book_rating == 3 || review.user_book_rating == 3.0 || review.user_book_rating == 3.1 || review.user_book_rating == 3.2 || review.user_book_rating == 3.3 || review.user_book_rating == 3.4">
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                    </div>
    
                    <div id="rating" *ngIf="review.user_book_rating == 3.5 || review.user_book_rating == 3.6 || review.user_book_rating == 3.7 || review.user_book_rating == 3.8 || review.user_book_rating == 3.9">
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star-half" class="starColor"></ion-icon>
                    </div>
    
                    <!-- 4 star -->
                    <div id="rating" *ngIf="review.user_book_rating == 4.0 || review.user_book_rating == 4.1 || review.user_book_rating == 4.2 || review.user_book_rating == 4.3 || review.user_book_rating == 4.4">
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                    </div>
                    <div id="rating" *ngIf="review.user_book_rating == 4.5 || review.user_book_rating == 4.6 || review.user_book_rating == 4.7 || review.user_book_rating == 4.8 || review.user_book_rating == 4.9">
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star-half" class="starColor"></ion-icon>
                    </div>
    
                    <!-- 5 star -->
                    <div id="rating" *ngIf="review.user_book_rating == 5 || review.user_book_rating == 5.0">
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                        <ion-icon name="star" class="starColor"></ion-icon>
                    </div>
                </ion-col>
                <ion-col class="pt-7">
                    {{review.user_book_review}}
                </ion-col>
                <hr id="hr2">
            </ion-row>
        </div>
        <div *ngIf="checkAvailableReview == 0" class="w-100">
            <ion-row>
                <ion-col col-12>
                    <p class="text-bold text-center biruTua">This book has not had a review</p>
                </ion-col>
            </ion-row>
        </div>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
      pullingText="Pull to refresh"
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="fetching data ...">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>
