page-search {
    img{
        margin-top: 15px;
    }

    .scroll-content{
        background-image: url(/assets/imgs/search-bg.jpg);
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
    }
}
