page-comic-detail {
    ion-card-content{
		padding: 10px !important;
	}

	.grid{
		padding: 0 !important;
    }
    
    .text-bold{
        font-weight: 400;
        padding: 0;
    }

    .card, .card-md{
        margin: 0;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }

    .bold{
        font-weight: 600;
        padding: 10px;
        background-color: transparent;
        letter-spacing: 3px;
    }

    .scroll{
        height: 200px;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .list, .list-md{
        margin: 0.5rem;
    }

    .list:nth-child(1), .list-md:nth-child(1){
        margin-top: 0;
    }

    .login-indicator-false{
        color: red;
    }

    .login-indicator-true{
        color: green;
    }

    .label, .label-md{
        margin-top: 5px;
        margin-bottom: 0;
        margin-right: 0;
        background-color: gainsboro;
        // border-top-right-radius: 15px;
        // border-bottom-left-radius: 15px;
        padding: 10px;
    }

    .item-inner{
        padding-left: 8px;
    }

    .no-review{

        .label, .label-md {
            border-radius: 0;
            padding: 10px;
        } 
        
        .text-center{
            font-weight: 700;
        }
    }

    .user-review-hdr{
        text-align: center;
        font-weight: 700;
        background-color: transparent;
        color:  #0fbab6;
        letter-spacing: 3px;
        padding: 10px;
    }

    .item, .item-block, .item-md{
        padding-left: 0;
    }

    .review{
        margin-top: 15px;
    }

    //comic counter
    .counterRating{
        background-color: gainsboro;
        padding: 5px;
        text-align: center !important;
    }

    .counterRating2{
        background-color: linen;
        padding: 5px;
        text-align: center !important;
    }

    .black{
        color: black;
        text-align: center !important;
    }

    .fab-list-active{
        .fab, .fab-md, .fab-in-list, .fab-md-in-list, .show{
            background-color: white;
        }

        .icon, .icon-md{
            color: #007f79;
        }
    }

    .fab, .fab-md, .fab-md-primary{
        background-color: #0fbab6;
    }

    .justify{
        text-align: justify;
    }

    .text-bold{
        font-weight: bold;
        // text-align: justify;
    }

    //new css
    .biruMuda, .back-button {
        color: #0fbab6;
        font-family: 'Libre Baskerville', serif;
    }

    .biruTua{
        color: #007f79;
    }

    .starColor{
        color: #0fbab6;
    }

    .buttonColor{
        color: #0fbab6;
        border-color: #0fbab6;
    }

    .readBook{
        background-color: #0fbab6;
        border-radius: 3px;
    }

    ion-icon.starColor{
        font-size: 1.5em;
    }

    ion-icon.starReview{
        font-size: 1.5em;
        text-align: right;
        color: #0fbab6;
    }

    .pl-0{
        padding-left: 0;
    }

    .p-0{
        padding: 0;
    }

    .mt-2{
        margin-top: 2px;
    }

    .mt-0{
        margin-top: 0;
    }

    .mb-0{
        margin-bottom: 0;
    }

    .btn-action{
        .button-ios{
            height: 2.3em;
        }
    }

    .w-100{
        width: 100%;
    }

    .mt-15{
        margin-top: 15px;
    }

    .comicCover{
        width: 100%;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(138,131,138,1);
        -moz-box-shadow: 0px 3px 5px 0px rgba(138,131,138,1);
        box-shadow: 0px 3px 5px 0px rgba(138,131,138,1);
    }

    #hr1{
        border: 1px solid slategray;
        width: 100%;
        height: 0;
        margin-top: 10px;
        margin-bottom: 0;
    }

    #hr2{
        border: 1px solid #0fbab6;
        width: 100%;
        height: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    #colon{
        max-width: 4.333%;
    }

    .text-center{
        text-align: center;
        color: #0fbab6;
        font-weight: 700;
        letter-spacing: 3px;
    }

    .text-right{
        text-align: right;
    }
}
